// npm install -g sass
// sass landing_page/style.scss landing_page/style.css --watch
@use "variables";
@use "mixins";
@use "reset";
@use "base";
@use "typography";
@use "header";
@use "hero";
@use "clients";
@use "community";
@use "pixel-grade";
@use "local-business";
@use "tesla";
@use "caring";
@use "get-demo";
@use "footer";
@use "hamburger-menu";
// @import "responsive";

@media (max-width: 1199px) {
  .container {
    padding-right: 88px;
    padding-left: 88px;
  }
  .header {
    &__nav,
    &__buttons {
      display: none;
    }
    &__hamburger-btn {
      display: block;
    }
  }
  footer {
    gap: 20px;
    .right-content {
      gap: 20px;
    }
  }
}

@media (max-width: 991px) {
  .container {
    padding-right: 44px;
    padding-left: 44px;
  }
  .tesla {
    &__container {
      .top-content {
        &__para {
          text-align: justify;
        }
      }
      .bottom-content {
        flex-direction: column;
        &__list-icon {
          flex-wrap: wrap;
          row-gap: 16px;
        }
      }
    }
    &__left {
      text-align: center;
    }
  }
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    .footer-container {
      flex-direction: column;
      row-gap: 40px;
    }
    .left-content {
      gap: 20px;
    }
    .right-content {
      flex-wrap: wrap;
      gap: 40px;
      &-items {
      }
    }
  }
}

// Responsive Design
@media (max-width: 768px) {
  .section {
    margin-top: 80px;
  }
  .container {
    padding-right: 20px;
    padding-left: 20px;
  }
  .hamburger-menu {
    &.active {
      width: 100vw;
    }
    &.collapsed {
      width: 0;
    }
  }

  .hero {
    .hero__container {
      flex-direction: column;
      gap: 64px;
      align-items: center;
      text-align: center;
    }
    &__content {
      justify-content: center;
      align-items: center;
    }
    &__title--green {
      margin-top: 8px;
    }
  }

  .clients {
    text-align: center;
    &__logo-grid {
      flex-wrap: wrap;
    }
  }

  .community {
    &__grid {
      grid-template-columns: 1fr;
      gap: 44px;
    }
  }

  .pixel-grade {
    flex-direction: column;
    padding-bottom: 44px;
    gap: 32px;
    &__content {
      gap: 20px;
      .pixel-grade__text-content {
        .pixel-grade__text-desc {
          text-align: justify;
        }
      }
    }
  }

  .local-business {
    background: $neutral-silver-color;
    &__container {
      flex-direction: column;
      display: flex;
      gap: 44px;
      align-items: center;
      .local-business__left {
        text-align: center;
      }
      .local-business__right {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }

  .tesla {
    &__container {
      gap: 8px;
      flex-direction: column;
    }
    &__left {
      text-align: center;
    }
  }

  .caring {
    &__card-grid {
      grid-template-columns: repeat(1, 1fr);
      justify-items: center;
      row-gap: 144px;
    }
  }
}
