* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: #263238;
  line-height: 1.5;
}

.headline-1, .get-demo__title, .hero .hero__container .hero__content .hero__title {
  font-size: 64px;
  line-height: 76px;
  font-weight: 600;
}

.headline-2, .local-business__container .local-business__left .local-business__left-title, .pixel-grade__content .pixel-grade__text-content .pixel-grade__text-title, .section-head__title {
  font-size: 36px;
  line-height: 44px;
  font-weight: 600;
}

.headline-3, .local-business__container .local-business__right .right-item__number, .community-card__top-content h3 {
  font-size: 28px;
  line-height: 36px;
  font-weight: 600;
}

.headline-4, .caring__card-grid .card-item__content a, .caring__card-grid .card-item__content p, .tesla__right .bottom-content__link, .tesla__right .top-content .person__name {
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
}

.shadow-sm, .community-card {
  box-shadow: 0px 2px 2px 0px rgba(171, 190, 209, 0.6);
}

.shadow-md {
  box-shadow: 0px 4px 4px 0px rgba(171, 190, 209, 0.4);
}

.shadow-lg, .caring__card-grid .card-item__content {
  box-shadow: 0px 6px 6px 0px rgba(171, 190, 209, 0.3);
}

.shadow-xl {
  box-shadow: 0px 8px 8px 0px rgba(171, 190, 209, 0.4);
}

.shadow-2xl {
  box-shadow: 0px 16px 16px 0px rgba(171, 190, 209, 0.3);
}

.body-1, .body-1-medium {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
}

.body-2, .tesla__right .top-content .person__organization, .tesla__right .top-content__para, .local-business__container .local-business__right .right-item__desc, .local-business__container .local-business__left .local-business__left-desc, .hero .hero__container .hero__content .hero__description, .section-head__desc, .body-2-medium, .header__nav-link--active {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.body-3, footer .left-content__copyright p, .pixel-grade__content .pixel-grade__text-content .pixel-grade__text-desc, .community-card__description, .body-3-medium {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.body-4, .body-4-medium {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
}

.body-1-medium {
  font-weight: 500;
}

.body-2-medium, .header__nav-link--active {
  font-weight: 500;
}

.body-3-medium {
  font-weight: 500;
}

.body-4-medium {
  font-weight: 500;
}

.clear-both {
  clear: both;
}

.container, .caring, .tesla__container, .local-business__container, .pixel-grade, .community__container, .hero .hero__container, .header__container {
  max-width: 1440px;
  margin: 0 auto;
}

.button {
  padding: 16px 32px;
  border-radius: 4px;
  width: fit-content;
  border: none;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button--md {
  padding: 14px 32px;
}
.button--sm {
  padding: 8px 32px;
}
.button--primary, .get-demo__button, .header__buttons-signup {
  background-color: #4caf4f;
  color: #fff;
}

.section, .caring, .local-business__container, .pixel-grade, .community {
  margin-top: 40px;
}
.section-head {
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-head__title {
  text-align: center;
  max-width: 542px;
  margin: 0 auto;
  margin-bottom: 10px;
}
.section-head__desc {
  text-align: center;
  color: #717171;
  max-width: 628px;
}

.header {
  height: 84px;
  background-color: #f5f7fa;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.header__container {
  padding: 0 120px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  display: block;
}
.header__logo-img {
  height: 24px;
}
.header__nav {
  display: flex;
  height: 100%;
  align-items: center;
}
.header__nav-list {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 50px;
}
.header__nav-link {
  text-decoration: none;
  color: #263238;
}
.header__nav-link--active {
  color: #4caf4f;
}
.header__buttons {
  display: flex;
  align-items: center;
  gap: 14px;
}
.header__buttons button {
  padding: 10px 20px;
  border-radius: 6px;
  border: none;
}
.header__buttons-login {
  background: transparent;
  border: 1px solid #89939e;
  color: #4caf4f;
}
.hero {
  min-height: fit-content;
  background-color: #f5f7fa;
}
.hero .hero__container {
  display: flex;
  align-items: center;
  padding: 96px 144px;
  justify-content: space-between;
  gap: 32px;
  height: fit-content;
}
.hero .hero__container .hero__content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.hero .hero__container .hero__content .hero__title {
  color: #263238;
}
.hero .hero__container .hero__content .hero__title--green {
  color: #4caf4f;
  display: block;
  line-height: 50px;
}
.hero .hero__container .hero__content .hero__description {
  color: #717171;
}
.hero .hero__container .hero__content .hero__image img {
  width: 272px;
  height: auto;
}

.clients {
  text-align: center;
}
.clients__logo-grid {
  display: flex;
  min-height: fit-content;
  height: 98px;
  margin: 16px auto 0;
  max-width: 1152px;
  gap: 32px;
  align-items: center;
  justify-content: space-between;
}
.clients__logo-grid img {
  width: 48px;
  height: 48px;
}

.community__container {
  padding: 0 144px;
}
.community__grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 32px;
}
.community-card {
  background-color: #fff;
  border-radius: 8px;
  padding: 24px 32px;
  width: 300px;
  min-height: fit-content;
  height: 260px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.community-card__top-content {
  height: 144px;
  display: flex;
  gap: 16px;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.community-card__top-content img {
  width: 65px;
  height: 56px;
}
.community-card__top-content h3 {
  color: #263238;
}
.community-card__description {
  text-align: center;
  color: #717171;
}

.pixel-grade {
  height: 433px;
  padding: 0 144px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 64px;
}
.pixel-grade__img {
  width: 423px;
}
.pixel-grade__img img {
  height: 329px;
}
.pixel-grade__content {
  width: 600px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.pixel-grade__content .pixel-grade__text-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.pixel-grade__content .pixel-grade__text-content .pixel-grade__text-desc {
  color: #717171;
}

.local-business {
  background: #f5f7fa;
}
.local-business__container {
  padding: 64px 144px;
  display: flex;
  justify-content: space-between;
}
.local-business__container .local-business__left {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 540px;
}
.local-business__container .local-business__left .local-business__left-title--green {
  color: #4caf4f;
}
.local-business__container .local-business__right {
  display: grid;
  width: 540px;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px 30px;
}
.local-business__container .local-business__right .right-item {
  display: flex;
  align-items: center;
  gap: 16px;
}
.local-business__container .local-business__right .right-item img {
  width: 48px;
  height: 48px;
}
.local-business__container .local-business__right .right-item__desc {
  color: #717171;
}

.tesla {
  background-color: #f5f7fa;
}
.tesla__container {
  display: flex;
  gap: 40px;
  justify-content: space-between;
  padding: 32px 144px;
}
.tesla__left img {
  width: 326px;
  height: 326px;
  border-radius: 8px;
}
.tesla__right {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: fit-content;
}
.tesla__right .top-content__para {
  width: 748px;
  color: #717171;
  margin-bottom: 16px;
}
.tesla__right .top-content .person__name {
  color: #4caf4f;
  margin-bottom: 8px;
}
.tesla__right .top-content .person__organization {
  color: #89939e;
}
.tesla__right .bottom-content {
  display: flex;
  gap: 32px;
}
.tesla__right .bottom-content__list-icon {
  display: flex;
  gap: 36px;
}
.tesla__right .bottom-content__list-icon img {
  width: 44px;
  height: 44px;
}
.tesla__right .bottom-content__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #4caf4f;
  vertical-align: middle;
}

.caring {
  padding: 0 144px;
}
.caring__card-grid {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
}
.caring__card-grid .card-item {
  width: fit-content;
  height: fit-content;
}
.caring__card-grid .card-item__wrapper {
  position: relative;
}
.caring__card-grid .card-item__content {
  position: absolute;
  left: 50%;
  border-radius: 8px;
  transform: translate(-50%, -50%);
  width: fit-content;
  background-color: #f5f7fa;
  padding: 16px;
}
.caring__card-grid .card-item__content p {
  text-align: center;
  width: 285px;
  height: 84px;
}
.caring__card-grid .card-item__content a {
  margin-top: 16px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #4caf4f;
}

.get-demo {
  margin-top: 144px;
  background-color: #f5f7fa;
  padding: 32px;
}
.get-demo__title {
  text-align: center;
  margin: 0 auto;
  width: 887px;
  max-width: fit-content;
  text-align: center;
  margin-bottom: 20px;
}
.get-demo__button {
  padding: 14px 32px;
  border: none;
  margin-top: 16px;
  display: block;
  margin: 0 auto;
  border-radius: 4px;
}

footer {
  padding: 64px 165px;
  background-color: #263238;
}
footer .left-content {
  display: inlint-flex;
  flex-direction: column;
  gap: 16px;
}
footer .left-content__copyright p {
  color: #f5f7fa;
}

@media (max-width: 768px) {
  .header__nav {
    display: none;
  }
  .hero__container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .community__grid {
    grid-template-columns: 1fr;
  }
}

/*# sourceMappingURL=style.css.map */
