@use "../abstracts/variables" as *;
@use "../base" as *;
@use "../abstracts/mixins" as mix;
footer {
  background-color: $neutral-black-color;
  @include mix.mq-xl {
    gap: 20px;
  }
  @include mix.mq-lg {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-container {
    @extend .container;
    padding-top: 64px;
    padding-bottom: 64px;
    display: flex;
    gap: 40px;
    justify-content: space-between;
    @include mix.mq-lg {
      flex-direction: column;
      row-gap: 40px;
    }
  }
  .company-info {
    display: inline-flex;
    flex-direction: column;
    align-items: start;
    width: 350px;
    gap: 40px;
    @include mix.mq-lg {
      gap: 20px;
      width: 100%;
    }
    &__logo {
      height: 30px;
      text-align: left;
    }
    &__copyright {
      @extend .body-3;
      color: $neutral-silver-color;
      &-text:first-child {
        margin-bottom: 8px;
      }
    }
    &__social {
      display: flex;
      gap: 16px;

      &-link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        background-color: #3a404a;
        border-radius: 20rem;
      }
    }
  }

  .company-links {
    display: flex;
    gap: 40px;
    @include mix.mq-xl {
      gap: 20px;
    }
    @include mix.mq-lg {
      flex-wrap: wrap;
      gap: 40px;
    }
    &-group {
      &__title {
        @extend .headline-4;
        color: white;
        margin-bottom: 24px;
      }
      &__items {
        width: 160px;
        display: flex;
        gap: 12px;
        flex-direction: column;
        @extend .body-3;
        color: $neutral-silver-color;
        &-link {
          color: $neutral-silver-color;
        }
      }
      &__email {
        background-color: #515c60;
        height: 40px;
        padding: 0 16px;
        width: 255px;
        position: relative;
        border-radius: 8px;
        &-input {
          background-color: transparent;
          outline: none;
          color: white;
          height: 100%;
          border: none;
          &::placeholder {
            color: #d9dbe1;
          }
        }
      }
      &__send-btn {
        position: absolute;
        background-color: transparent;
        border: none;
        cursor: pointer;
        right: 16px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}
