@use "../abstracts/variables" as *;
@use "../base" as *; // Sẽ tìm sass/base/_index.scss và xuất tất cả ra ngoài

footer {
  background-color: $neutral-black-color;
  .footer-container {
    @extend .container;
    padding-top: 64px;
    padding-bottom: 64px;
    display: flex;
    justify-content: space-between;
  }

  .left-content {
    display: inline-flex;
    flex-direction: column;
    align-items: start;
    width: 350px;
    gap: 40px;
    &__logo {
      height: 30px;
      text-align: left;
    }
    &__copyright {
      p:first-child {
        margin-bottom: 8px;
      }
      p {
        color: $neutral-silver-color;
        @extend .body-3;
      }
    }
    &__social {
      display: flex;
      gap: 16px;

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        background-color: #3a404a;
        border-radius: 20rem;
      }
    }
  }

  .right-content {
    display: flex;
    gap: 40px;
    &-items {
      &__title {
        @extend .headline-4;
        color: white;
        margin-bottom: 24px;
      }
      ul {
        width: 160px;
        display: flex;
        gap: 12px;
        flex-direction: column;
        @extend .body-3;
        color: $neutral-silver-color;
      }
      &__email {
        background-color: #515c60;
        height: 40px;
        padding: 8px 16px;
        width: 255px;
        position: relative;
        border-radius: 8px;
        input {
          background-color: transparent;
          outline: none;
          color: white;
          height: 100%;
          border: none;
        }
        input::placeholder {
          color: #d9dbe1;
        }
        .right-content-items__send-btn {
          position: absolute;
          background-color: transparent;
          border: none;
          cursor: pointer;
          right: 16px;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
  }
}

@media (max-width: 1199px) {
  footer {
    gap: 20px;
    .right-content {
      gap: 20px;
    }
  }
}
@media (max-width: 991px) {
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    .footer-container {
      flex-direction: column;
      row-gap: 40px;
    }
    .left-content {
      gap: 20px;
      width: 100%;
    }
    .right-content {
      flex-wrap: wrap;
      gap: 40px;
      &-items {
      }
    }
  }
}
