@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;
@use "../base" as *;
@use "../components/button" as *;

// Header
.header {
  height: 84px;
  background-color: var.$neutral-silver-color;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  &__hamburger-btn {
    display: block;
  }

  &__container {
    @extend .container;
    height: 100%;
    @include mix.flex-center;
    justify-content: space-between;
  }

  &__logo {
    display: block;
    &-img {
      height: 24px;
    }
  }

  &__nav {
    display: flex;
    height: 100%;
    align-items: center;
    @include mix.mq-lg {
      display: none;
    }
    &-list {
      @include mix.flex-center;
      list-style: none;
      gap: 50px;
    }

    &-link {
      text-decoration: none;
      color: var.$secondary-color;

      &--active {
        @extend .body-2-medium;
        color: var.$primary-color;
      }
    }
  }
  &__buttons {
    display: flex;
    align-items: center;
    gap: 14px;
    @include mix.mq-lg {
      display: none;
    }

    button {
      padding: 10px 20px;
      border-radius: 6px;
      border: none;
      font-size: 14px;
      line-height: 20px;
    }

    &-login {
      cursor: pointer;
      height: fit-content;
      background: transparent;
      padding: 0 20px;
      font-size: 14px;
      color: var.$primary-color;
    }
    &-signup {
      @extend .button--primary;
    }
  }
  &__hamburger-btn {
    border: none;
    background: transparent;
    width: 32px;
    height: 32px;
    display: none;
    @include mix.mq-lg {
      display: block;
    }
    svg {
      width: 20px;
      height: 20px;
      transition: all ease-out 0.2s;
    }
    &:hover svg {
      fill: var.$primary-color;
    }
  }
}
// @media (max-width: 1199px) {
//   .header {
//     &__nav,
//     &__buttons {
//       display: none;
//     }
//     &__hamburger-btn {
//       display: block;
//     }
//   }
// }
