@use "../abstracts/variables" as var;
@use "../components/button" as *;
@use "../base" as *;

.get-demo {
  margin-top: 144px;
  background-color: var.$neutral-silver-color;
  padding: 32px;
  &__title {
    text-align: center;
    @extend .headline-1;
    margin: 0 auto;
    width: fit-content;
    max-width: 887px;
    text-align: center;
    margin-bottom: 20px;
  }
  &__button {
    @extend .button--primary;
    padding: 14px 32px;
    border: none;
    margin-top: 16px;
    display: block;
    margin: 0 auto;
    border-radius: 4px;
  }
}

@media (max-width: 768px) {
  .get-demo {
    &__title {
      font-size: 36px;
      line-height: 44px;
      max-width: 100%;
      text-align: center;
    }
  }
}
