@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;
@use "../base" as *;

// Hero Section
.hero {
  min-height: fit-content;
  background-color: var.$neutral-silver-color;
  position: relative;

  .hero__slider {
    @extend .container;
    position: relative;
    // overflow: hidden;
    display: flex;
    .slider-item {
      overflow: hidden;
      opacity: 0;
      // transition: opacity 2s ease-in-out;
      padding-top: 96px;
      padding-bottom: 96px;
      display: none;
      justify-content: space-between;
      gap: 32px;
      width: 0px;
      height: fit-content;

      &.active {
        width: 100%;
        display: flex;
        justify-content: space-between;
        opacity: 1;
      }
      &__content {
        display: flex;
        flex-direction: column;
        gap: 16px;
      }
      &__title {
        @extend .headline-1;
        color: var.$secondary-color;
        &--green {
          color: var.$primary-color;
          display: block;
          line-height: 50px;
        }
      }
      &__description {
        @extend .body-2;
        color: var.$neutral-grey-color;
      }
      &__image {
        img {
          width: 272px;
          height: auto;
        }
      }
    }
  }
  &__indicator {
    position: absolute;
    bottom: 12px;
    display: flex;
    left: 50%;
    transform: translateX(-50%);
    gap: 8px;
    justify-content: center;
    align-items: center;
    &-item {
      cursor: pointer;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: var.$primary-color;
      opacity: 30%;
      border: none;
      display: inline-block;
      transition: all 0.3s ease;
      transform: scale(1);
      &:hover {
        transform: scale(1.2);
        opacity: 60%;
      }
      &--active {
        background: var.$primary-color;
        opacity: 100%;
        transform: scale(1.2);
      }
    }
  }
}
@media (max-width: 768px) {
  .hero {
    .slider-item {
      flex-direction: column;
      gap: 64px;
      padding-top: 48px;
      padding-bottom: 48px;
      align-items: center;
      text-align: center;
      &__content {
        justify-content: center;
        align-items: center;
      }
      &__title--green {
        margin-top: 8px;
      }
    }
  }
}
