@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;
@use "../base" as *;

// Hero Section
.hero {
  min-height: fit-content;
  background-color: var.$neutral-silver-color;
  position: relative;

  &__slider {
    position: relative;
    height: 100%;
    overflow: hidden;
    .slider-wrapper {
      display: flex;
      width: 100%;
      transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    }
    .slider-item {
      padding-top: 96px;
      padding-bottom: 96px;
      display: flex;
      justify-content: space-between;
      gap: 32px;
      min-width: 100%;
      flex-shrink: 0;
      pointer-events: none;
      position: relative;
      height: fit-content;
      max-width: 100%;
      @include mix.mq-md {
        flex-direction: column;
        gap: 64px;
        padding-top: 48px;
        padding-bottom: 48px;
        align-items: center;
        text-align: center;
        height: fit-content;
        max-height: fit-content;
      }
      &.active {
        opacity: 1;
        pointer-events: auto;
      }
      &__content {
        display: flex;
        flex-direction: column;
        gap: 16px;
        @include mix.mq-md {
          justify-content: center;
          align-items: center;
        }
      }

      &__title {
        @extend .headline-1;
        color: var.$secondary-color;
        &--green {
          color: var.$primary-color;
          display: block;
          line-height: 50px;
        }
        // @include mix.mq-md {
        //   font-size: 36px;
        //   line-height: 44px;
        //   max-width: 100%;
        //   text-align: center;
        // }
      }
      &__description {
        @extend .body-2;
        color: var.$neutral-grey-color;
      }
      &__image {
        img {
          width: 272px;
          height: auto;
        }
        @include mix.mq-md {
          display: none;
        }
      }
    }
  }
  &__indicator {
    position: absolute;
    bottom: 12px;
    display: flex;
    left: 50%;
    transform: translateX(-50%);
    gap: 8px;
    justify-content: center;
    align-items: center;
    &-item {
      cursor: pointer;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: var.$primary-color;
      opacity: 30%;
      border: none;
      display: inline-block;
      transition: all 0.3s ease;
      transform: scale(1);
      &:hover {
        transform: scale(1.2);
        opacity: 60%;
      }
      &--active {
        background: var.$primary-color;
        opacity: 100%;
        transform: scale(1.2);
      }
    }
  }
}
