@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;
@use "../base" as *;

.tesla {
  background-color: var.$neutral-silver-color;
  &__container {
    @extend .container;
    display: flex;
    gap: 40px;
    justify-content: space-between;
    padding-top: 32px;
    padding-bottom: 32px;
    @include mix.mq-md {
      gap: 8px;
      flex-direction: column;
    }
  }
  &__left {
    @include mix.mq-lg {
      text-align: center;
    }
    img {
      width: 326px;
      height: 326px;
      border-radius: 8px;
      @include mix.mq-md {
        width: 100%;
        object-fit: contain;
      }
    }
  }
  &__right {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: fit-content;
    .top-content {
      &__para {
        max-width: 748px;
        width: fit-content;
        @extend .body-2;
        color: var.$neutral-grey-color;
        margin-bottom: 16px;
        @include mix.mq-lg {
          width: 100%;
          text-align: justify;
        }
      }
      .person {
        &__name {
          color: var.$primary-color;
          @extend .headline-4;
          margin-bottom: 8px;
        }
        &__organization {
          color: var.$neutral-l-grey-color;
          @extend .body-2;
        }
      }
    }

    .bottom-content {
      display: flex;
      column-gap: 32px;
      row-gap: 8px;
      flex-wrap: wrap;
      @include mix.mq-lg {
        flex-direction: column;
        gap: 8px;
      }
      &__list-icon {
        display: flex;
        gap: 36px;
        @include mix.mq-lg {
          flex-wrap: wrap;
          row-gap: 8px;
        }
        img {
          width: 44px;
          height: 44px;
        }
      }

      &__link {
        display: flex;
        align-items: center;
        @extend .headline-4;
        text-decoration: none;
        color: var.$primary-color;
        vertical-align: middle;
      }
    }
  }
}
