// Reset
@use "typography";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Common
body {
  font-family: "Inter", sans-serif;
  color: $secondary-color;
  line-height: 1.5;
}

//ul
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3); /* màu đen trong suốt */
  z-index: 1000;
}

.container {
  max-width: 1440px;
  padding-right: 144px;
  padding-left: 144px;
  margin: 0 auto;
}

.section {
  margin-top: 40px;
  &-head {
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__title {
      text-align: center;
      max-width: 542px;
      margin: 0 auto;
      @extend .headline-2;
      margin-bottom: 10px;
    }
    &__desc {
      text-align: center;
      @extend .body-2;
      color: $neutral-grey-color;
      max-width: 628px;
    }
  }
}
