@use "../../abstracts/variables" as var;
@use "../../abstracts/mixins" as mix;
@use "../../base" as *;

//Achievements section
.achievements {
  background: var.$neutral-silver-color;
  &__container {
    @extend .section;
    @extend .container;
    padding-top: 64px;
    padding-bottom: 64px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    @include mix.mq-md {
      flex-direction: column;
      display: flex;
      gap: 44px;
      align-items: center;
    }
    .achievements__introduction {
      display: flex;
      flex-direction: column;
      gap: 8px;
      width: 540px;
      max-width: fit-content;
      @include mix.mq-md {
        text-align: center;
        width: 100%;
      }

      .achievements__introduction-title {
        @extend .headline-2;
        &--green {
          color: var.$primary-color;
        }
      }
      .achievements__introduction-desc {
        @extend .body-2;
      }
    }
    .achievements__group {
      display: grid;
      max-width: 540px;
      grid-template-columns: repeat(2, 1fr);
      gap: 40px;
      @include mix.mq-md {
        grid-template-columns: repeat(1, 1fr);
      }
      .achievements-item {
        display: flex;
        align-items: center;
        gap: 16px;

        &__icon {
          width: 48px;
          height: 48px;
        }

        &__number {
          @extend .headline-3;
        }
        &__desc {
          @extend .body-2;
          color: var.$neutral-grey-color;
        }
      }
    }
  }
}
