@use "../../abstracts/variables" as var;
@use "../../abstracts/mixins" as mix;
@use "../../components/button" as *;
@use "../../base" as *;

.get-demo {
  margin-top: 144px;
  background-color: var.$neutral-silver-color;
  padding: 32px;
  &__title {
    text-align: center;
    @extend .headline-1;
    margin: 0 auto;
    width: fit-content;
    max-width: 887px;
    text-align: center;
    margin-bottom: 20px;
    @include mix.mq-md {
      font-size: 36px;
      line-height: 44px;
      max-width: 100%;
      text-align: center;
    }
  }
  &__button {
    @extend .button--primary;
    @extend .button--md;
    border: none;
    margin-top: 16px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    gap: 8px;
    border-radius: 4px;
  }
}
