@use "../../abstracts/variables" as var;
@use "../../abstracts/mixins" as mix;
@use "../../base" as *;

//Pixel grade section
.unclock {
  @extend .section;
  @extend .container;
  height: 433px;
  min-height: fit-content;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 64px;
  @include mix.mq-md {
    flex-direction: column;
    gap: 32px;
  }
  &__img {
    width: 423px;
    @include mix.mq-md {
      width: 80%;
    }
    img {
      height: 329px;
      width: 100%;
      object-fit: contain;
      @include mix.mq-md {
        height: 100%;
        width: 100%;
      }
    }
  }
  &__content {
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;
    @include mix.mq-md {
      gap: 20px;
    }
    .unclock__text-content {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 16px;
      .unclock__text-title {
        @extend .headline-2;
      }
      .unclock__text-desc {
        @extend .body-3;
        color: var.$neutral-grey-color;
        @include mix.mq-md {
          text-align: justify;
        }
      }
    }
  }
}
