// SCSS Variables
$primary-color: #4caf4f;
$secondary-color: #263238;
$neutral-silver-color: #f5f7fa;
$neutral-black-color: #263238;
$neutral-d-grey-color: #4d4d4d;
$neutral-grey-color: #717171;
$neutral-l-grey-color: #89939e;
$neutral-grey-blue-color: #abbed1;
$warning-color: #fbc02d;
$error-color: #e53835;
$success-color: #2e7d31;
$black-color: #263238;
$info-color: #2194f3;
$shadow-color-base: #abbed1; // Màu cơ bản của bóng đổ

//Font
//Font style variables
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
