// SCSS Variables
$primary-color: #4caf4f;
$shade-1-color: #43a046;
$shade-2-color: #388e3b;
$shade-3-color: #237d31;
$shade-4-color: #1b5e1f;
$shade-5-color: #103e13;
$tint-1-color: #66bb69;
$tint-2-color: #81c784;
$tint-3-color: #a5d6a7;
$tint-4-color: #c8e6c9;
$tint-5-color: #e8f5e9;
$secondary-color: #263238;
$neutral-silver-color: #f5f7fa;
$neutral-black-color: #263238;
$neutral-d-grey-color: #18191f;
$neutral-grey-color: #717171;
$neutral-l-grey-color: #89939e;
$neutral-grey-blue-color: #abbed1;
$warning-color: #fbc02d;
$error-color: #e53835;
$success-color: #2e7d31;
$black-color: #263238;
$info-color: #2194f3;
$shadow-color-base: #abbed1;

//Font style variables
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;

//Breakpoint
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
